<div>
<h3>Filter Vehicles:</h3>
<%= form_tag("/vehicles", method: "get") do %>
  <%= select_tag "vehicle", options_from_collection_for_select(Vehicle.all, "id","model", "make"), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<% current_user.vehicles.each do |vehicle|%><br>
  Vehicle Type:  <%= vehicle.vehicle_type  %><br>
  Vehicle Year:  <%= vehicle.year%><br>
  Vehicle Make:  <%= vehicle.make %><br>
  Vehicle Model: <%= vehicle.model%><br>
  <%= link_to "Edit Vehicles", edit_vehicle_url(vehicle.id) %>
  <%= link_to "Rate Vehicles", new_vehicle_rating_path(vehicle.id) %>
 <%end%><br><br>
 <%= link_to "Logout", logout_path %> 
