
<h2> Make Your Selections Below To RateIt.</h2>


<br>Type Of Vehicle

<%= form_for @vehicle, :url => {:action => "create"} do |f| %>
    
    <%= f.label :Car %>
    <%= f.radio_button :vehicle_type, "Car", class: "shortInput" %> <br />

    <%= f.label :Truck  %>
    <%= f.radio_button :vehicle_type, "Truck", class: "shortInput" %> <br />

    <%= f.label :Motorcycle  %>
    <%= f.radio_button :vehicle_type, "Motorcycle", class: "shortInput" %> <br />
    
    <%= f.hidden_field :user_id, value: current_user.id %>

      <br>
      Create a Vehicle<br>

    <%= f.label :Year %>
    <%= f.text_field :year %> <br />

    <%= f.label :Make  %>
    <%= f.text_field :make %> <br />

    <%= f.label :Model  %>
    <%= f.text_field :model %> <br />

    <%= f.label :Style  %>
    <%= f.text_field :style %> <br />

    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.submit "Submit" %>  <%= link_to "Logout", logout_path %>
   
<% end %>
 