
<div>

    Vehicle Type: <%= @vehicle.vehicle_type %><br>
    Vehicle Year: <%= @vehicle.year %><br>
    Vehicle Make: <%= @vehicle.make %><br>
    Vehicle Model: <%= @vehicle.model %><br>
    Vehicle Style: <%= @vehicle.style %><br>

    Vehicle Rating: <% @vehicle.ratings.each do |r| %>
                       <%= r.vehicle_ratings %><br>
                    <%end%>
</div>

<%= link_to "Logout", logout_path %> <%= link_to "Edit Vehicle", edit_vehicle_url %> <%= link_to 'Back', '/users/show' %><%= link_to "Ratings", vehicle_ratings_path(@vehicle.id)  %>


<
