<!DOCTYPE html>
<html>
  <head>
    <title>Rateit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
  <div>
  <% if logged_in? %>
  <h1> Hello Welcome to RateIt User: <%= current_user.username  %>  </h1>
  <% end %>
  </div>
    <%= yield %>
  </body>
</html>
