  <h2>Current Vehicle to Rate</h2>

  
<% if @rating.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @rating.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  
 <%= form_for @rating do |r| %>
  <label> Vehicle Rating </label>
  <%= r.text_field :vehicle_ratings %> 
  <%= r.hidden_field :vehicle_id, :value => @rating.vehicle.id %>

  <%= r.submit "Submit" %>

 <%end%><br>

<%= link_to "Logout", logout_path %> <%= link_to 'Back', '/users/:id' %>
