  <h2>Select Current Vehicle to Rate</h2>

 <%= form_for @rating do |r| %>
  <%= r.label :vehicle_rating %>
  <%= r.text_field :vehicle_ratings %> 
  <%= r.submit "Submit" %>

 <%end%>

<%= link_to "Logout", logout_path %>
