<h1>Ratings</h1>

  <h2>Select Current Vehicle to Rate</h2>

  <% current_user.vehicles.select do |vehicle| %><br>

    Year: <%= vehicle.year %><br>
    Make: <%= vehicle.make %><br>
    Model: <%= vehicle.model %><br>
    Style: <%= vehicle.style %><br>

  <%end%><br>

<%= link_to "Logout", logout_path %>
